.login {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  border-radius: 20px;
  padding: 30px;
  background: linear-gradient(to left top, #73d5f0, #072d5c);
  color: white;
}

label {
  color: white;
}

/* Change styles for screens smaller than 768px (tablets & mobiles) */
@media screen and (max-width: 768px) {
  .login {
    width: 60vw;
    margin: 30% auto;
  }
}

/* Change styles for screens larger than 1200px (desktops) */
@media screen and (min-width: 1200px) {
  .example-class {
    width: 40vw;
    margin: 15% auto;
  }
}
