.login {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15% auto;
  flex-direction: column;
  border-radius: 20px;
  padding: 30px;
  background: linear-gradient(to left top, #73d5f0, #072d5c);
  color: white;
}

label {
  color: white;
}
