@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
label {
  color: white;
}
.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", "Courier New", Courier, monospace;
  font-weight: 400;
}

.inner-box {
  padding: 20px 40px;
  background-color: #ffffff70;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #07070733;
  z-index: 2;
  backdrop-filter: blur(8px);
  background: linear-gradient(to left top, #73d5f0, #072d5c);
}
.signup-header h1 {
  font-size: 2.5rem;
  color: white;
}

.signup-header p {
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
}

.signup-body {
  margin: 20px 0px;
}

.signup-body p {
  margin: 10px 0px;
}

.signup-body p label {
  display: block;
  font-weight: bold;
}
.signup-body p input,
.signup-body p button {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  margin-top: 4px;
  cursor: pointer; /* Adds a pointer cursor for buttons */
}

.signup-body p button {
  background-color: #007bff; /* Adds a default button color */
  color: white;
  border-color: #007bff;
}

.signup-body p button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
  border-color: #0056b3;
}
.signup-body p button[type="submit"] {
  background-color: #3498db;
  border: none;
  color: white;
  cursor: pointer;
}

.signup-body p button:disabled {
  background-color: #ccc; /* Gray out the button */
  border-color: #ccc;
  color: #666; /* Light gray text */
  cursor: not-allowed; /* Show not-allowed cursor */
  opacity: 0.6; /* Reduce visibility */
}

.signup-body p button[type="submit"]:hover {
  background-color: #14496d;
}

.signup-footer p {
  color: white;
  text-align: center;
}

.signup-footer p a {
  color: white;
}

.signup-footer p a :visited {
  color: #e445dc;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: linear-gradient(to top right, #ffffff33, #ffffffff);
  position: absolute;
}
.c1 {
  top: 100px;
  left: 40px;
}
.c2 {
  bottom: 100px;
  right: 40px;
}

.required-field::after {
  content: "*";
  color: red;
}
